.App {
  font-family: sans-serif;
  text-align: center;
}

.dots-container {
  position: relative;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  align-items: center;
  height: 100vh;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: blue;
  margin-right: 3px;
  position: absolute;
  transform: translateY(-50%);
}
